<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pancake.monitorbe.dao.SysMapper">
    <resultMap type="com.pancake.monitorbe.entity.Sys" id="BaseResultMap">
        <result property="sysCode" jdbcType="VARCHAR" column="sys_code"/>
        <result property="sysName" jdbcType="VARCHAR" column="sys_name"/>
        <result property="sysNameAbbr" jdbcType="VARCHAR" column="sys_name_abbr"/>
        <result property="tmCount" jdbcType="INTEGER" column="tm_count"/>
    </resultMap>
    <sql id="Base_Column_List">
        sys_code, sys_name, sys_name_abbr, tm_count
    </sql>
<!--
    查询所有系统列表
-->
    <select id="getAllSystemList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from monitor.tb_sys
        order by sys_code desc
    </select>
<!--
    按照系统名模糊查询系统列表
-->
    <select id="getSysListBySysNameFuzzy" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from monitor.tb_sys
        where sys_name like concat('%', #{sysNameIn, jdbcType=VARCHAR}, '%')
    </select>
<!--
    检查是否存在某一 sysCode（用于新建/修改用户信息UserParam）
-->
    <select id="checkIfExitsSysCode" parameterType="String" resultType="String">
        select sys_code from monitor.tb_sys where sys_code = #{sysCode, jdbcType=VARCHAR}
    </select>
<!--
    选择性插入一条数据
-->
    <insert id="insertSelective" parameterType="com.pancake.monitorbe.entity.Sys">
        insert into monitor.tb_sys
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysCode != null">
                sys_code,
            </if>
            <if test="sysName != null">
                sys_name,
            </if>
            <if test="sysNameAbbr != null">
                sys_name_abbr,
            </if>
            <if test="tmCount != null">
                tm_count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sysCode != null">
                #{sysCode, jdbcType=VARCHAR},
            </if>
            <if test="sysName != null">
                #{sysName, jdbcType=VARCHAR},
            </if>
            <if test="sysNameAbbr != null">
                #{sysNameAbbr, jdbcType=VARCHAR},
            </if>
            <if test="tmCount != null">
                #{tmCount, jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateOneSystemSelective" parameterType="com.pancake.monitorbe.entity.Sys">
        update monitor.tb_sys
        <set>
            <if test="sysCode != null">
                sys_code = #{sysCode, jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                sys_name = #{sysName, jdbcType=VARCHAR},
            </if>
            <if test="sysNameAbbr != null">
                sys_name_abbr = #{sysNameAbbr, jdbcType=VARCHAR},
            </if>
            <if test="tmCount != null">
                tm_count = #{tmCount, jdbcType=INTEGER},
            </if>
        </set>
        where sys_code = #{sysCode, jdbcType=VARCHAR}
    </update>

<!--    <delete id="deleteSys" parameterType="String">-->
<!--        delete from monitor.tb_user where login_name=#{loginName}-->
<!--    </delete>-->
</mapper>