<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pancake.monitorbe.dao.TerminalMapper">
    <resultMap type="com.pancake.monitorbe.entity.Terminal" id="BaseResultMap">
        <result property="sysCode" jdbcType="VARCHAR" column="sys_code"/>
        <result property="tmCode" jdbcType="VARCHAR" column="tm_code"/>
        <result property="tmName" jdbcType="VARCHAR" column="tm_name"/>
        <result property="tmIp" jdbcType="VARCHAR" column="tm_ip"/>
        <result property="lastUpdateTime" jdbcType="TIMESTAMP" column="last_update_time"/>
        <result property="redWarnPeriod" jdbcType="INTEGER" column="red_warn_period"/>
        <result property="yellowWarnPeriod" jdbcType="INTEGER" column="yellow_warn_period"/>
        <result property="heartStat" jdbcType="INTEGER" column="heart_stat"/>
        <result property="heartPeriod" jdbcType="INTEGER" column="heart_period"/>
        <result property="dataStat" jdbcType="INTEGER" column="data_stat"/>
    </resultMap>

    <resultMap type="com.pancake.monitorbe.controller.param.MonitorTerminalParam" id="TmMonitorResultMap">
        <result property="sysName" jdbcType="VARCHAR" column="sys_name"/>
        <result property="tmName" jdbcType="VARCHAR" column="tm_name"/>
        <result property="tmIp" jdbcType="VARCHAR" column="tm_ip"/>
        <result property="lastUpdateTime" jdbcType="TIMESTAMP" column="last_update_time"/>
        <result property="heartStat" jdbcType="INTEGER" column="heart_stat"/>
        <result property="dataStat" jdbcType="INTEGER" column="data_stat"/>
    </resultMap>
<!--
    获取所有终端列表
-->
    <select id="getAllTerminals" resultMap="BaseResultMap">
        select * from monitor.tb_terminal
        order by sys_code desc
    </select>
<!--
    按照监控页所需格式获取终端列表
-->
    <select id="getMonitorTerminals" resultMap="TmMonitorResultMap">
        select ts.sys_name, tm_name, tm_ip, last_update_time, heart_stat, data_stat
        from monitor.tb_sys ts join monitor.tb_terminal tt on ts.sys_code = tt.sys_code
        order by ts.sys_name
    </select>
<!--
    获取终端总数
-->
    <select id="getTerminalsCount" resultType="Integer">
        select count(*) from monitor.tb_terminal
    </select>
<!--
    获取绿色心跳状态记录数
-->
    <select id="getGreenHeartStatCount" resultType="Integer">
        select count(*) from monitor.tb_terminal
        where heart_stat = 0
    </select>
<!--
    获取黄色心跳状态记录数
-->
    <select id="getYellowHeartStatCount" resultType="Integer">
        select count(*) from monitor.tb_terminal
        where heart_stat = 1
    </select>
<!--
    获取红色心跳状态记录数
-->
    <select id="getRedHeartStatCount" resultType="Integer">
        select count(*) from monitor.tb_terminal
        where heart_stat = 2
    </select>
<!--
    获取绿色数据状态记录数
-->
    <select id="getGreenDataStatCount" resultType="Integer">
        select count(*) from monitor.tb_terminal
        where data_stat = 0
    </select>
<!--
    获取黄色数据状态记录数
-->
    <select id="getYellowDataStatCount" resultType="Integer">
        select count(*) from monitor.tb_terminal
        where data_stat = 1
    </select>
<!--
    获取红色数据状态记录数
-->
    <select id="getRedDataStatCount" resultType="Integer">
        select count(*) from monitor.tb_terminal
        where data_stat = 2
    </select>
<!--
    通过sysCode查找终端列表
-->
    <select id="getTerminalListBySysCode" parameterType="String" resultMap="BaseResultMap">
        select * from monitor.tb_terminal where sys_code = #{sysCode, jdbcType=VARCHAR}
    </select>
<!--
    通过tmName模糊查询终端列表
-->
    <select id="getTmListByTmNameFuzzy" parameterType="String" resultMap="BaseResultMap">
        select * from monitor.tb_terminal where tm_name like concat('%', #{tmName, jdbcType=VARCHAR},'%')
    </select>
<!--
    选择性新增一条终端记录
-->
    <insert id="insertSelective" parameterType="com.pancake.monitorbe.entity.Terminal">
        insert into monitor.tb_terminal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysCode != null">
                sys_code,
            </if>
            <if test="tmCode != null">
                tm_code,
            </if>
            <if test="tmName != null">
                tm_name,
            </if>
            <if test="tmIp != null">
                tm_ip,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>
            <if test="redWarnPeriod != null">
                red_warn_period,
            </if>
            <if test="yellowWarnPeriod != null">
                yellow_warn_period,
            </if>
            <if test="heartStat != null">
                heart_stat,
            </if>
            <if test="heartPeriod != null">
                heart_period,
            </if>
            <if test="dataStat != null">
                data_stat,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sysCode != null">
                #{sysCode, jdbcType=VARCHAR},
            </if>
            <if test="tmCode != null">
                #{tmCode, jdbcType=VARCHAR},
            </if>
            <if test="tmName != null">
                #{tmName, jdbcType=VARCHAR},
            </if>
            <if test="tmIp != null">
                #{tmIp, jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="redWarnPeriod != null">
                #{redWarnPeriod, jdbcType=INTEGER},
            </if>
            <if test="yellowWarnPeriod != null">
                #{yellowWarnPeriod, jdbcType=INTEGER},
            </if>
            <if test="heartStat != null">
                #{heartStat, jdbcType=INTEGER},
            </if>
            <if test="heartPeriod != null">
                #{heartPeriod, jdbcType=INTEGER},
            </if>
            <if test="dataStat != null">
                #{dataStat, jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
<!--
    按主键选择性更新一条终端记录
-->
        <update id="updateByPrimaryKeySelective" parameterType="com.pancake.monitorbe.entity.Terminal">
            update monitor.tb_terminal
            <set>
                <if test="sysCode != null">
                    sys_code = #{sysCode, jdbcType=VARCHAR},
                </if>
                <if test="tmCode != null">
                    tm_code = #{tmCode, jdbcType=VARCHAR},
                </if>
                <if test="tmName != null">
                    tm_name = #{tmName, jdbcType=VARCHAR},
                </if>
                <if test="tmIp != null">
                    tm_ip = #{tmIp, jdbcType=VARCHAR},
                </if>
                <if test="lastUpdateTime != null">
                    last_update_time = #{lastUpdateTime, jdbcType=TIMESTAMP},
                </if>
                <if test="redWarnPeriod != null">
                    red_warn_period = #{redWarnPeriod, jdbcType=INTEGER},
                </if>
                <if test="yellowWarnPeriod != null">
                    yellow_warn_period = #{yellowWarnPeriod, jdbcType=INTEGER},
                </if>
                <if test="heartStat != null">
                    heart_stat = #{heartStat, jdbcType=INTEGER},
                </if>
                <if test="heartPeriod != null">
                    heart_period = #{heartPeriod, jdbcType=INTEGER},
                </if>
                <if test="dataStat != null">
                    data_stat = #{dataStat, jdbcType=INTEGER},
                </if>
            </set>
            where tm_code = #{tmCode, jdbcType=VARCHAR}
        </update>
<!--
    按主键删除一条终端数据
-->
        <delete id="deleteByPrimaryKey" parameterType="String">
            delete from monitor.tb_terminal where tm_code = #{tmCode. jdbcType=VARCHAR}
        </delete>
</mapper>